<p id="notice"><%= notice %></p>

   <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                <% @posts.each do |post| %>
                  <%= link_to  post_path(post) do %>
                        <h2 class="post-title">
                            <%= post.title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= truncate post.body, :length => 50, 
                                                    :separator => /\w/,
                                                    :omission => "..." %>
                        </h3>
                  <% end %>
                  <p class="post-meta">Posted by <%= post.user.email %> on <%= post.created_at.strftime('%b %d, %Y') %></p>
                  <% end %>
                </div>
                
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <%= paginate @posts %>
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                    <li class="prev">
                        <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
                    </li>
                </ul>
            </div>
        </div>
    
    
    </div>

    <hr>
    
